:root {
  --hand-protrusion: -1.25rem;
}
@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(210, 56%, 93%);
}
* {
  box-sizing: border-box;
}
.wrapper {
  position: relative;
}
.clock {
  width: 80vw;
  height: 80vw;
  max-width: 25rem;
  max-height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -0.5rem -0.5rem 2.2rem hsl(210, 56%, 100%),
    -0.5rem -0.5rem 2.2rem hsl(210, 56%, 93%),
    0.5rem 0.5rem 2.5rem hsl(210, 56%, 78%);
}
.clock::before,
.clock::after,
.wrapper::before,
.wrapper::after {
  content: "";
  height: 0.8%;
  width: 8%;
  background-color: #b8c5d3;
}
.wrapper::before,
.wrapper::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  z-index: 1;
}
.wrapper::before {
  top: 0.8rem;
}
.wrapper::after {
  bottom: 0.8rem;
}
.clock::before {
  margin-right: auto;
}
.clock::after {
  margin-left: auto;
}
.inner-circle {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  box-shadow: -0.5rem -0.5rem 2.2rem hsl(210, 56%, 100%),
    -0.5rem -0.5rem 2rem hsl(210, 56%, 93%),
    0.5rem 0.5rem 2rem hsl(210, 56%, 78%);
  position: relative;
}
.hour-hand,
.minute-hand,
.second-hand {
  width: 1.7%;
  position: absolute;
  left: 50%;
  bottom: calc(50% + var(--hand-protrusion));
  transform-origin: center calc(100% + var(--hand-protrusion));
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.05);
}
.hour-hand {
  height: 50%;
  background-color: #828282;
}
.minute-hand {
  height: 75%;
  background-color: #828282;
}
.second-hand {
  height: 85%;
  background-color: #ea5756;
}
